<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuU7a_55MpP_rJ8YmtT1h2PiXYIQz2Rfk</string>
	<key>GCM_SENDER_ID</key>
	<string>435192725858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypAistudy</string>
	<key>PROJECT_ID</key>
	<string>aistudy-a658e</string>
	<key>STORAGE_BUCKET</key>
	<string>aistudy-a658e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435192725858:ios:619f8bd057996d0ef86c3b</string>
</dict>
</plist>